.feedback-section
  display: flex
  align-items: center
  position: relative
  background: no-repeat url('../img/bg-whysection-strawberry.svg') right -8% top 2%

  @include desktop
    background: no-repeat url('../img/bg-whysection-strawberry.svg') right rem(20px) top rem(30px)

  &__title
    text-align: center
    margin-bottom: 100*(10vh/800)
    @include mobile
      margin-bottom: 100*(20vh/800) // 800px - Figma height
    @include desktop
      margin-bottom: rem(40px)
  // Bg
  // &::after
  //   $_: no-repeat url('../img/bg-feedbacksection-berries.svg') bottom rem(71px) left
  //   background: $_, no-repeat url('../img/bg-feedback-pattern.svg')
  //   content: ""
  //   position: absolute
  //   width: rem(193px)
  //   height: rem(321px)
  //   left: 0
  //   bottom: rem(-160px)
