.feedback-section
  display: flex
  align-items: center
  position: relative
  background: no-repeat url('../img/bg-whysection-strawberry.svg') right -8% top 2%

  @include desktop
    background: no-repeat url('../img/bg-whysection-strawberry.svg') right rem(20px) top rem(30px)

  &__title
    text-align: center
    margin-bottom: 100*(10vh/800)
    @include mobile
      margin-bottom: 100*(20vh/800) // 800px - Figma height
    @include tablet
      margin-bottom: rem(33px)
  // Bg
  &::after
    display: none
    $_: no-repeat url('../img/bg-feedbacksection-berries.svg') top left
    background: $_, no-repeat url('../img/bg-feedback-pattern.svg') top left
    content: ""
    position: absolute
    width: 80px
    height: 160px
    left: 0
    bottom: -5rem
    background-size: contain
    @include mobile
      display: block
    @include tablet
      width: rem(193px)
      height: rem(321px)
