@mixin link_reset
  

@mixin btn_reset
  display: inline-block
  outline: none
  border: none
  &:hover
    cursor: pointer

@mixin wh($w,$h: $w)
  width: $w
  height: $h

@mixin hide
  position: absolute
  left: -9999px
  top: 0


  