section.section-wrapper.feedback-section
  .container
    .section-header
      h2.section-title Отзывы
    .feedback
      .feedback__panel(role='tabpanel' id="feedback-alena")
        img.feedback__avatar(src='img/img-ava-alena.jpg')
        article.feedback__text
          h4.feedback__header Лучший перекус
          p.feedback__msg Я ем малыми порциями, но часто. Это повышает мою продуктивность в разы. В течение дня сижу за компьютером и часто отходить в кафе или на кухню просто не могу себе позволить. А батончик – он всегда под рукой. Это приятно и удобно. 
          p.feedback__auth Алёна Хмельницкая
      .feedback__tablist(role='tablist')
        button.feedback__tab(role='tab')
          img.feedback__tabava.feedback__tabava--active(src='img/img-ava-alena.jpg')
        button.feedback__tab(role='tab')
          img.feedback__tabava(src='img/img-ava-vadim.jpg')
        button.feedback__tab(role='tab')
          img.feedback__tabava(src='img/img-ava-mariya.jpg')