section.section-wrapper.feedback-section
  .container
    h2.section__title.feedback-section__title Отзывы
    .feedback
      .feedback__panel(role='tabpanel' id="feedback-alena")
        .feedback__avatar-wrap
          img.feedback__avatar(src='img/img-ava-alena.jpg')
        article.feedback__text
          h4.feedback__header Лучшие батончики премиум уровня
          p.feedback__msg Батончики понравились. На мой взгляд слегка завышена цена по сравнению с конкурентами, однако, как говорится – оно того стоит. Нравится носить с собой, нравится держать в руке. Ну и конечно же, кушать. Идеально утоляют голод, хоть и не надолго. Через час уже ем ещё один. Но это скорее плюс, чем минус.
          p.feedback__auth Алёна Хмельницкая
      .feedback__tablist(role='tablist')
        button.feedback__tab.feedback__tab--active(role='tab')
          img.feedback__tabava(src='img/img-ava-alena.jpg')
        button.feedback__tab(role='tab')
          img.feedback__tabava(src='img/img-ava-vadim.jpg')
        button.feedback__tab(role='tab')
          img.feedback__tabava(src='img/img-ava-mariya.jpg')