.section-wrapper.section-form
  .container
    h2.section__title.section-form__title закажите доставку
    form.form(action='')
      .form__group
        .form__row
          .form__group
            label.form__label(for="order-name") Имя
            input.form__input(type="text" name="" id='order-name')
          .form__group
            label.form__label(for="order-phone") Телефон
            input.form__input(type="text" name="" id='order-phone')
        .form__row
          .form__group
            label.form__label(for="order-street") Улица
            input.form__input(type="text" name="" id='order-street')
        .form__row
          .form__group
            label.form__label(for="order-streetnum") Дом
            input.form__input(type="text" name="" id='order-streetnum')
          .form__group
            label.form__label(for="order-block") Корпус
            input.form__input(type="text" name="" id='order-block')
          .form__group
            label.form__label(for="order-ap") Квартира
            input.form__input(type="text" name="" id='order-ap')
          .form__group
            label.form__label(for="order-floor") Этаж
            input.form__input(type="text" name="" id='order-floor')
      .form__group.form__group--ml.form__group--mt
        .form__row
          .form__group
            label.form__label(for="order-msg") Комментарий
            textarea.form__msg.form__input#order-msg(name="order-msg")
        .form__row
            label.form__field.fake-input(for="order-payment-1")
              input.fake-input__input.fake-input__input--hide(type='radio', name='order-payment', value='change-need', id='order-payment-1')
              span.fake-input__radio
              span.fake-input__label-text Потребуется сдача
            label.form__field.fake-input(for="order-payment-2")
              input.fake-input__input.fake-input__input--hide(type='radio', name='order-payment', value='card', id='order-payment-2')
              span.fake-input__radio
              span.fake-input__label-text Оплата картой
        //- Input CallBack
        .form__row
            label.form__field.fake-input(for="order-callback") 
              input.fake-input__input.fake-input__input--hide(type="checkbox" name="order-callback" id='order-callback')
              span.fake-input__checkbox
              span.fake-input__label-text Не перезванивать
                  
        .form__row
          button.btn.btn--inversed(type='submit') Заказать
          button.btn.btn-link(type='reset') Очистить


