.section-wrapper.section-form
  .container
    h2.section__title.section-form__title закажите доставку
    form.form(action='' novalidate)#order-form
      .form__group
        .form__row
          .form__group
            label.form__label Имя *
              input.form__input(type="text" name="name" id='order-name'  required value='Kolin') 
          .form__group
            label.form__label Телефон *
              input.form__input(type="text" name="phone" id='order-phone' required value='789')
        .form__row
          .form__group
            label.form__label Email *
              input.form__input(type="email" name="to" id='order-email' required value='kolin@789.com')
          .form__group
            label.form__label Улица
              input.form__input(type="text" name="order-street" id='order-street')
        .form__row
          .form__group
            label.form__label Дом
              input.form__input(type="text" name="" id='order-streetnum')

          .form__group
            label.form__label Корпус
              input.form__input(type="text" name="" id='order-block')
          .form__group
            label.form__label Квартира
              input.form__input(type="text" name="" id='order-ap')
          .form__group
            label.form__label Этаж
              input.form__input(type="text" name="" id='order-floor')
      .form__group.form__group--ml.form__group--mt
        .form__row
          .form__group
            label.form__label Комментарий *
              textarea.form__msg.form__input#order-msg(name="comment" required) Big Pizza
              //- span.form__validation Fill this pls

        .form__row
            label.form__field.fake-input(for="order-payment-1")
              input.fake-input__input.fake-input__input--hide(type='radio', name='order-payment', value='change-need', id='order-payment-1')
              span.fake-input__radio
              span.fake-input__label-text Потребуется сдача
            label.form__field.fake-input(for="order-payment-2")
              input.fake-input__input.fake-input__input--hide(type='radio', name='order-payment', value='card', id='order-payment-2')
              span.fake-input__radio
              span.fake-input__label-text Оплата картой
        //- Input CallBack
        .form__row
            label.form__field.fake-input(for="order-callback") 
              input.fake-input__input.fake-input__input--hide(type="checkbox" name="order-callback" id='order-callback')
              span.fake-input__checkbox
              span.fake-input__label-text Не перезванивать
        .form__row
          button.btn.btn--green(type='submit') Заказать
          button.btn.btn--transparent(type='reset') Очистить


