.section-wrapper.section-form
  .container
    .section-header
      h2.section-title.section-form__title закажите доставку
    form.form(action='').form__row.gap
      .form__col
        .form__row
          .form__col
            label.form__label(for="order-name") Имя
            input.form__input(type="text", name="", id='order-name')
          .form__col
            label.form__label(for="order-phone") Телефон
            input.form__input(type="text", name="", id='order-phone')
        .form__row
          .form__col
            label.form__label(for="order-street") Улица
            input.form__input(type="text", name="", id='order-street')
        .form__row
          .form__col
            label.form__label(for="order-streetnum") Дом
            input.form__input(type="text", name="", id='order-streetnum')
          .form__col
            label.form__label(for="order-block") Корпус
            input.form__input(type="text", name="", id='order-block')
          .form__col
            label.form__label(for="order-ap") Квартира
            input.form__input(type="text", name="", id='order-ap')
          .form__col
            label.form__label(for="order-floor") Этаж
            input.form__input(type="text", name="", id='order-floor')
      .form__col
        .form__row
          .form__col
            label.form__label(for="order-msg") Комментарий
            textarea.form__msg#order-msg(name="order-msg", cols="100", rows="40")

