.section-wrapper.section-form
  .container
    h2.section__title.section-form__title закажите доставку
    form.form(action='')
      .form__group
        .form__row
          .form__group
            label.form__label(for="order-name") Имя
            input.form__input(type="text" name="" id='order-name')
          .form__group
            label.form__label(for="order-phone") Телефон
            input.form__input(type="text" name="" id='order-phone')
        .form__row
          .form__group
            label.form__label(for="order-street") Улица
            input.form__input(type="text" name="" id='order-street')
        .form__row
          .form__group
            label.form__label(for="order-streetnum") Дом
            input.form__input(type="text" name="" id='order-streetnum')
          .form__group
            label.form__label(for="order-block") Корпус
            input.form__input(type="text" name="" id='order-block')
          .form__group
            label.form__label(for="order-ap") Квартира
            input.form__input(type="text" name="" id='order-ap')
          .form__group
            label.form__label(for="order-floor") Этаж
            input.form__input(type="text" name="" id='order-floor')
      .form__group.form__group--ml.form__group--mt
        .form__row
          .form__group
            label.form__label(for="order-msg") Комментарий
            textarea.form__msg.form__input#order-msg(name="order-msg")
        .form__row
          .form__group.form__group--radio.form__group--text--center
            label.form__label.form__label--inline(for="order-payment-1") Потребуется сдача
              input.form__input.form__input--radio(type="radio" name="order-payment" value='change-need' id='order-payment-1')
              span.cinput.cinput__radio
          .form__group.form__group--radio.form__group--text--center
            label.form__label.form__label--inline(for="order-payment-2") Оплата картой
              input.form__input.form__input--radio(type="radio" name="order-payment" value='cart-pay' id='order-payment-2')
              span.cinput.cinput__radio 
        .form__row
          .form__group.form__group--checkbox.form__group--text--center
            label.form__label.form__label--inline(for="order-callback") Не перезванивать
              input.form__input.form__input--checkbox(type="checkbox" name="order-callback" id='order-callback')
              span.cinput.cinput__checkbox
        .from__row
          .form__group.form__group--text--center
            button.btn.btn--inversed(type='submit') Заказать
            button.btn.btn-link(type='reset') Очистить


