section.section.hero-section#hero
  .hero-section__container.container
    //- Header
    header.hero-section__header
      svg.icon.hero-section__logo-icon
        +use("#logo")
      //- Nav
      nav#hero-nav.nav.hero-section__nav
        button.btn-close.nav__close(data-toggle-el-id='hero-nav')
          svg.btn-close__icon
            +use("#icon-close")
        each link in nav
          a.nav__link(href="#" data-ops-section-id=link.opsSectionId)= link.name
      address.hero-section__phone.phone
        svg.icon.hero-section__phone-icon
          use(xlink:href='img/sprite.svg#icon-phone')
        a.phone__num(href='tel:+88009039090') 8 800 903 90 90
      button#burger.btn-burger.hero-section__burger.nav__open(data-toggle-el-id='hero-nav')
        svg.btn-burger__icon
          +use("#icon-burger")
    .hero-section__intent
      .hero-section__img-wrap
        img.hero-section__img(src='img/img-bars.png')
      .hero-section__main
        h1.hero-section__title.section__title Натуральные шоколадные батончики
        p.hero-section__subtitle.section__subtitle Наши батончики идеально подходят для тех, кто следит за своим здоровьем
        button.btn.btn--color--green Заказать
    //- Advantages
    .hero-section__advantages.advantage-list
      .advantage
        svg.advantage__icon.icon
          +use("#icon-leaf")
        span.advantage__description 99% натуральный продукт
      .advantage
        svg.advantage__icon.icon
          +use("#icon-delivery")
        span.advantage__description 3-5 дней доставка по UAE
      .advantage
        svg.advantage__icon.icon
          +use("#icon-ruler")
        span.advantage__description Не портит фигуру

