section.map-section#map
  .map-section__map#ymap
  .map-section__contacts
    .contacts-section
      .contacts-section__content.container
        .contacts-section__address
          address.location Dubai, Business Bay 12
          address.phone.contacts-section__phone
            svg.phone__icon.phone__icon--fill--green
              +use("#icon-phone")       
            a.phone__num.phone__num--color--green(href='tel:+88009039090') 8 800 903 90 90
        .contacts-section__social
          .soc-icons-list
            a.soc-icons-list__item(href="#")
              svg.soc-icons-list__item-icon
                +use('#icon-vk')
            a.soc-icons-list__item(href="#")
              svg.soc-icons-list__item-icon
                +use('#icon-fb')
            a.soc-icons-list__item(href="#")
              svg.soc-icons-list__item-icon
                +use('#icon-linkedin')
            a.soc-icons-list__item(href="#")
              svg.soc-icons-list__item-icon
                +use('#icon-twitter')