section.section.menu-section
  .menu#menu
    .menu__content
      h2.section__title.menu__title Меню
      ul.menu__list 
        each item, index in menu
          - var cls = index + 1
          li.menu__item(data-menu-item='')
            button.menu__trigger(class='menu__trigger--'+cls data-menu-trigger='')
              span.menu__trigger-text= item.title
            .menu__item-content-wrap(data-menu-content-wrap='')
              .menu__item-content(data-menu-content)= item.description