section.section-wrapper.why
  .container
    .why__header
      h2.section__title Почему Chocco?
      .section__description В нашем мире все происходит очень быстро, поэтому мы делаем батончики, которые удобно взять с собой.
    .why__advantages
      .cart-adv
        .cart-adv__img.icon-handsup
        .cart-adv__text  
          h3.cart-adv__header Полезно
          .cart-adv__description Натуральность - ключевое качество нашей продукции. Мы используем только природные ингредиенты.
      .cart-adv
        .cart-adv__img.icon-smile
        .cart-adv__text
          h3.cart-adv__header Вкусно
          .cart-adv__description Нежный, ненавязчивый, изысканный – так клиенты описывают вкусовые качества наших батончиков.
      .cart-adv
        .cart-adv__img.icon-arm
        .cart-adv__text
          h3.cart-adv__header Питательно
          .cart-adv__description Высокое содержание качественного белка, а также всех необходимых витаминов и минералов.
