- var sidenavitems = 8;
.fixed-sidenav#fixed-sidenav
  //- a.fixed-sidenav__link.fixed-sidenav__link--active(href="#" id="")
  //-   //- span.fixed-sidenav__inner
  //- while sidenavitems > 0
  //-   - sidenavitems--
  //-   a.fixed-sidenav__link(href="" id="")
  //-     //- span.fixed-sidenav__inner