include settings/variables.pug
<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/main.css")
        title CHOCO
    body
        .page-wrapper
            //- include components/hero.pug

            include components/why.pug
            
            //- Section ОТЗЫВЫ
            section.section-wrapper.feedback-section
                .section-header
                    h2.section-title Отзывы
                .feedback
                    .feedback__content
                        img.feedback__avatar(src='img/img-ava-alena.jpg')
                        .feedback-text-wrapper
                            h4.feedback__header Лучший перекус
                            p.feedback__msg Я ем малыми порциями, но часто. Это повышает мою продуктивность в разы. В течение дня сижу за компьютером и часто отходить в кафе или на кухню просто не могу себе позволить. А батончик – он всегда под рукой. Это приятно и удобно. 
                            p.feedback__auth Алёна Хмельницкая
                    .feedback__tabs
                        butto


