include settings/variables.pug
include helpers/mixins.pug
<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css")
    link(rel="stylesheet" href="css/main.css")
    title CHOCO
  body
    .page-wrapper#page-wrapper
      include sections/hero-section.pug
      include sections/why-section.pug
      include sections/product-slider-section.pug
      include sections/team-section.pug
      include sections/menu-section.pug
      include sections/feedback-section.pug
      include sections/form-section.pug
      include sections/map-section.pug
    include components/fixed-sidenav.pug
    include components/modal.pug

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js")
    script(src="form.js")
    script(src="owl.js")
    script(src="all.js")
    script(src="team.js")
    script(src="menu.js") 





