include settings/variables.pug
<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/main.css")
        title CHOCO
    body
        .page-wrapper
            //- include components/fixed-sidenav.pug
            //- include sections/hero.pug
            //- include sections/why.pug
            //- include sections/feedback.pug
            include sections/form.pug
            
            


