- var nav = ["О нас", "Батончики", "Команда", "Меню", "Отзывы", "Как мы работаем", "Контакты"]
- var product_list = [{product_title: "Батончик “Гранола виноград”", ingridients: [{icon: "grape", text: "Виноград", weight:"25 г" }]}]
-
  var ingridients = [
    {icon: "grape", text: "Виноград", weight:"25 г" },
    {icon: "nut", text: "Грецкий орех", weight:"32 г" },
    {icon: "almond", text: "Кунжутное семя", weight:"20 г" },
    {icon: "washing-powder", text: "Сухое молок", weight:"10 г" },
    {icon: "apitherapy", text: "Зам. сахара", weight:"4 г" },
    {icon: "beans", text: "Какао бобы", weight:"4 г" }
  ]

-
  var team = [
    { name: "Борис Федорович", role:"Главный технолог", duty: "Отвечает за вкусовые качества и калорийность.", avatar_slug:"boris"},
    { name: "Алла Иванова", role:"Специалист по упаковке",duty: "Автор запоминающегося стиля наших батончиков.",avatar_slug:"alla"},
    { name: "Мила Рыжкова", role:"PR, маркетинг", duty: "По всем вопросам сотрудничества и рекламы писать только Миле.",avatar_slug:"mila"},
    { name: "Кирилл Матросов", role:"Оператор", duty: "С радостью поможет подобрать батончики и оформить заказ. ",avatar_slug:"kiril"}
  ]