- var nav = ["О нас", "Батончики", "Команда", "Меню", "Отзывы", "Как мы работаем", "Контакты"]
- 
  var product_list = [
    {
      product_title: "Батончик “Гранола виноград”",
      product_img_slug: "img-bars--white.png",
      product_desc: "Гранола из винограда, грецкого ореха и кунжутных семечек. В состав также входят: сухое молоко, заменитель сахара и какао бобы.",
      ingridients: [
        {icon: "grape", text: "Виноград", weight:"25 г" },
        {icon: "nut", text: "Грецкий орех", weight:"32 г" },
        {icon: "almond", text: "Кунжутное семя", weight:"20 г" },
        {icon: "washing-powder", text: "Сухое молок", weight:"10 г" },
        {icon: "apitherapy", text: "Зам. сахара", weight:"4 г" },
        {icon: "beans", text: "Какао бобы", weight:"4 г" }
      ]
    },
    {
      product_title: 'Батончик “Морские водоросли”',
      product_img_slug: "img-bars--teal.png",
      product_desc: "Гранола из морских водорослей с овсом, миндалем и тыквенными семечками. В состав также входят: сухое молоко, заменитель сахара и какао бобы.",
      ingridients: [
        {icon: "aot", text: "Овес", weight:"25 г" },
        {icon: "seaweed", text: "Мор. водоросли", weight:"32 г" },
        {icon: "almond", text: "Миндаль", weight:"20 г" },
        {icon: "washing-powder", text: "Сухое молок", weight:"10 г" },
        {icon: "seeds", text: "Тыкв. семечки", weight:"10 г" },
        {icon: "apitherapy", text: "Зам. сахара", weight:"4 г" },
        {icon: "beans", text: "Какао бобы", weight:"4 г" }
      ]
    }
  ]
-
  var ingridients = [
    {icon: "grape", text: "Виноград", weight:"25 г" },
    {icon: "nut", text: "Грецкий орех", weight:"32 г" },
    {icon: "almond", text: "Кунжутное семя", weight:"20 г" },
    {icon: "washing-powder", text: "Сухое молок", weight:"10 г" },
    {icon: "apitherapy", text: "Зам. сахара", weight:"4 г" },
    {icon: "beans", text: "Какао бобы", weight:"4 г" }
  ]

-
  var team = [
    { name: "Борис Федорович", role:"Главный технолог", duty: "Отвечает за вкусовые качества и калорийность.", avatar_slug:"boris"},
    { name: "Алла Иванова", role:"Специалист по упаковке",duty: "Автор запоминающегося стиля наших батончиков.",avatar_slug:"alla"},
    { name: "Мила Рыжкова", role:"PR, маркетинг", duty: "По всем вопросам сотрудничества и рекламы писать только Миле.",avatar_slug:"mila"},
    { name: "Кирилл Матросов", role:"Оператор", duty: "С радостью поможет подобрать батончики и оформить заказ. ",avatar_slug:"kiril"}
  ]

-
  var feedback_list = [
    {ava:"alena", auth: "Алена Хмельницкая", title:'Лучший перекус', msg:'Я ем малыми порциями, но часто. Это повышает мою продуктивность в разы. В течение дня сижу за компьютером и часто отходить в кафе или на кухню просто не могу себе позволить. А батончик – он всегда под рукой. Это приятно и удобно. '},
    {ava:"vadim", auth: "Вадим Грачев", title:'Идеально подходят для спортсменов', msg:'После тренировок всегда хочется быстро закинуться чем-то белковым, потому что до дома ещё нужно доехать. А кушать хочется. Протеиновые батончики всегда выручают в этом плане. Спасибо производителю за этот качественный и экологичный продукт.'},
    {ava:"mariya", auth: "Мария Орлова", title:'Лучшие батончики премиум уровня', msg:'Батончики понравились. На мой взгляд слегка завышена цена по сравнению с конкурентами, однако, как говорится – оно того стоит. Нравится носить с собой, нравится держать в руке. Ну и конечно же, кушать. Идеально утоляют голод, хоть и не надолго. Через час уже ем ещё один. Но это скорее плюс, чем минус.'}
  ]

-
 var menu = [
   {title: "Батончики с молоком", description: "Рекомендуем употреблять батончики вместе с кокосовым или миндальным молоком. Так и вкуснее, и полезнее. Ну чего ещё хотеть от жизни? Батончик – он твой лучший друг и радует всех вокруг. Как классно, что можно питаться полезно и вкусно, а не как попало. Бабуля, конечно, за такую еду не похвалит, но кто её будет спрашивать – никто. Надо бы, кстати, бабулю поздравить с днём Победы. "},
   {title: "С медом и фруктами", description: "Рекомендуем употреблять батончики вместе с кокосовым или миндальным молоком. Так и вкуснее, и полезнее. Ну чего ещё хотеть от жизни? Батончик – он твой лучший друг и радует всех вокруг. Как классно, что можно питаться полезно и вкусно, а не как попало. Бабуля, конечно, за такую еду не похвалит, но кто её будет спрашивать – никто. Надо бы, кстати, бабулю поздравить с днём Победы. "},
   {title: "Дикие ягоды", description: "Рекомендуем употреблять батончики вместе с кокосовым или миндальным молоком. Так и вкуснее, и полезнее. Ну чего ещё хотеть от жизни? Батончик – он твой лучший друг и радует всех вокруг. Как классно, что можно питаться полезно и вкусно, а не как попало. Бабуля, конечно, за такую еду не похвалит, но кто её будет спрашивать – никто. Надо бы, кстати, бабулю поздравить с днём Победы. "}
 ]