- var nav = ["О нас", "Батончики", "Команда", "Меню", "Отзывы", "Как мы работаем", "Контакты"]
- var product_list = [{product_title: "Батончик “Гранола виноград”", ingridients: [{icon: "grape", text: "Виноград", weight:"25 г" }]}]
- 
  var ingridients = [
  {icon: "grape", text: "Виноград", weight:"25 г" },
  {icon: "nut", text: "Грецкий орех", weight:"32 г" },
  {icon: "almond", text: "Кунжутное семя", weight:"20 г" },
  {icon: "washing-powder", text: "Сухое молок", weight:"10 г" },
  {icon: "apitherapy", text: "Зам. сахара", weight:"4 г" },
  {icon: "beans", text: "Какао бобы", weight:"4 г" }
  ]