.btn
  border: 0
  outline: 0
  border: none
  background: none
  cursor: pointer
  &-link
    padding: rem(21px) rem(41px)
  &-cta
    font-size: rem(16px)
    line-height: ratio(18,16)
    padding: rem(21px) rem(41px)
    font-weight: 800
    border-radius: rem(100px)
    text-transform: uppercase
    background-color: $white
    color: $green
    &:hover
      background-color: $green-darken
      color: $white
    &:active
      background-color: $green
  &-cta--inversed
    background-color: $green-darken
    color: $white
    &:hover
      background-color: $white
      color: $green-darken
      

    // &--tt--normal
    //   text-transform: capitalize
    
