.form
  display: flex
  color: $green
  flex-direction: column
  @include tablet-only
    width: 60%
    margin: 0 auto
  @include desktop
    flex-direction: row
  &__field
    &:not(:last-of-type)
      margin-right: rem(23px)
    
  &__group
    flex: 1
    margin-left: rem(12px)
    &:first-of-type
      margin-left: 0
    &--ml
      margin-left: 0
      @include desktop
        margin-left: rem(27px)
    &--mt
      margin-top: .5rem
      @include desktop
        margin-top: 0
    &--text--center
      display: flex
      justify-content: center
      @include tablet
        justify-content: flex-start 
  &__row
    display: flex
    @include until($tablet)
        justify-content: center
    &:not(:last-of-type)
      margin-bottom: 1rem
      
      @include desktop
        margin-bottom: rem(20px)
  &__cell
    display: flex
  &__label
    display: block
    margin-bottom: rem(3px)
    position: relative
    &:hover
      cursor: pointer
    &--inline
      display: inline-block
      padding-left: rem(35px)
      position: relative
  &__msg
    display: block
    width: 100%
    min-height: rem(150px)
    max-width: 100%
    overflow: auto
    @include until($mobile)
      min-height: rem(50px)
  &__validation
    // position: absolute
    font-size: rem(10px)
    color: red
    // bottom: -rem(10px)
    // left: 0
  &__input
    display: block
    width: 100%
    border: none
    border-radius: rem(4px)
    color: $black
    font-family: "Open Sans", sans-serif
    line-height: rem(20px)
    padding: .5rem rem(10px)
    @include desktop
      padding: rem(18px) rem(12px) rem(20px)
    &:focus
      outline: rem(3px) solid $green-light
    &--nonvalid
      border: 2px solid red
      
    // &--radio
    //   @include hide 
    //   &:checked + .cinput__radio
    //     &::before
    //       display: block
    // &--checkbox
    //   @include hide
    //   &:checked + .cinput__checkbox
    //     &::before
    //       display: block
