.form
  display: flex
  color: $green
  &__group
    flex: 1
    margin-left: rem(12px)
    &:first-of-type
      margin-left: 0
    &--ml
      margin-left: rem(27px)
    &--radio
      display: flex
      align-items: center
      position: relative
  &__row
    display: flex
    &:not(:last-of-type)
      margin-bottom: rem(20px)
  &__cell
    display: flex
  &__label
    display: block
    margin-bottom: rem(3px)
    &:hover
      cursor: pointer
    &--inline
      display: inline-block
      padding-left: rem(35px)
      position: relative
  &__msg
    display: block
    width: 100%
    min-height: rem(150px)
    max-width: 100%
    overflow: auto
  &__input
    display: block
    width: 100%
    border: none
    border-radius: rem(4px)
    padding: rem(18px) rem(12px) rem(20px)
    color: $black
    font-family: "Open Sans", sans-serif
    line-height: rem(20px)
    &:focus
      outline: rem(3px) solid $green-light
    &--radio
      @include hide
      &:checked + .cinput__radio
        &::before
          display: block
    &--checkbox
      @include hide
      &:checked + .cinput__checkbox
        &::before
          display: block