.nav
  display: none
  justify-content: space-between
  &__link
    font-weight: 400
    line-height: rem(30px)
    &:not(:last-of-type)
      margin-right: rem(27px)
      &:hover
        color: $green
  &__burger
    font-size: 2rem
    padding: 6px
    background: transparent
    color: $white
    @include desktop
      display: none
    // 
  @include desktop
    display: flex
