.section-wrapper
  height: 100vh
  // min-height: rem(650px)
.section
  height: 100vh
  // min-height: rem(650px)
  &__title
    font-size: rem(48px)
    line-height: ratio(58,48)
    text-transform: uppercase
    font-weight: 700
    &--text--center
      text-align: center

  &__description
    width: 45%
    line-height: ratio(22,18)
    margin: 0 auto
    &--text--center
      text-align: center
    
  &__subtitle
    // margin: rem(18px) auto 0

