.btn
  border: 0
  outline: 0
  border: none
  background: none
  font-size: 16px
  padding: 21px 41px
  color: $green
  line-height: 18px
  font-weight: 800
  text-transform: uppercase
  border-radius: 100px
  &-cta
    background-color: $white
    &:hover
      cursor: pointer
      background-color: $green-darken
      color: $white
    &:active
      background-color: $green
    &--text--normal
      font-weight: 400
      text-transform: capitalize
      font-size: 18px
