@mixin link_reset
    // Link reset
    color: inherit
    text-decoration: none
    font-style: normal

@mixin btn_reset
    display: inline-block
    outline: none
    border: none
    &:hover
        cursor: pointer

@mixin section-title
    font-size: 48px
    line-height: 58px
    text-transform: uppercase
    font-weight: 700
    text-align: center

@mixin wh($w,$h: $w)
    width: $w
    height: $h

