include variables.pug
<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="main.css")
        title CHOCO
    body
        .page-wrapper
            section.hero
                header.header
                    a.logo(href="#")
                        img.logo__img(alt='choco logo' src='img/choco-logo.svg')
                    nav.nav
                        each link in nav
                            a.nav__link(href="#")= link
                    address.phone
                        i.phone__icon.icon-phone
                        a.phone__num(href='tel:+88009039090') 8 800 903 90 90
                .hero-main
                    .hero-main__title Натуральные шоколадные батончики
                    .hero-main__description Наши батончики идеально подходят для тех, кто следит за своим здоровьем
                    button.hero-main__cta Заказать
                .advantages
                    .advantage
                        i.advantage__icon.icon-leafs
                        span.advantage__description 100% <br> натуральный <br> продукт
                    .advantage
                        i.advantage__icon.icon-delivery 
                        span.advantage__description 3-5 дней <br> доставка <br> по РФ
                    .advantage
                        i.advantage__icon.icon-ruler
                        span.advantage__description Не портит <br> фигуру
            //- Section ПОЧЕМУ CHOCCO
            section.why
                .section-header
                    h2.section-title Почему Chocco?
                    .section-description В нашем мире все происходит очень быстро, поэтому мы делаем батончики, которые удобно взять с собой.

                .why-advantages
                    .why-advanteg
                        .why-advanteg__img-holder.icon-handsup
                        h3.why-advanteg__header Полезно
                        .why-advanteg__description Натуральность - ключевое качество нашей продукции. Мы используем только природные ингредиенты.
                    .why-advanteg
                        .why-advanteg__img-holder.icon-smile
                        h3.why-advanteg__header Вкусно
                        .why-advanteg__description Нежный, ненавязчивый, изысканный – так клиенты описывают вкусовые качества наших батончиков.
                    .why-advanteg
                        .why-advanteg__img-holder.icon-arm
                        h3.why-advanteg__header Питательно
                        .why-advanteg__description Высокое содержание качественного белка, а также всех необходимых витаминов и минералов.

                        