mixin use(id, path_to_sprite='../img/sprite.svg')
  use(xlink:href=path_to_sprite + id)

mixin fake-input(type, label_text, label_for, input_id=label_for, input_name=label_for)
  //- attributs == {class: type, for: label_for}
  label(class="fake-input" for=label_for)
  span(class="fake-input--" + type)
  span.fake-input__label-text= label_text
  //- Hiding real input
  input(type=type, id=input_id).input.input--hide
